.navbar-brand img {
  width: 25px;
  height: 25px;
}

.page-wrapper {
  margin: 80px 0 0 0;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-\block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}
.progress {
  margin: 20px 0 0 0;
}

#rules {
  height: 620px;
}


.project-list {
  list-style: none;
  padding: 0;
}

.project-list li {
  margin: 10px 0 0 0;
}
